.channel-list-container {
  padding: 16px;
  border-right: 3px solid #ccc;
  width: 200px;
}

.home-button {
  margin-bottom: 16px;
}

.refresh-button-container {
  margin-bottom: 16px;
}

.channel-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 1.1rem;
}

.channel-list li {
  margin-bottom: 8px;
}

.channel-list li a {
  color: red;
  text-decoration: none;
}

.channel-list li a:hover {
  color: darkred;
}

.add-channel-button-container {
  margin-top: 16px;
}
.add-channel-container {
  margin-top: 16px;
}
