.channel-view-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.message-container {
  flex: 1;
  overflow-y: auto;
  text-align: left;
}

.message-container ul {
  list-style-type: none;
  padding: 0;
}

.add-message-container {
  border-top: 4px solid #9D0000;
  padding: 10px 0;
}
