.channel-view-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.message-container {
  flex: 1;
  overflow-y: auto;
}

.message-container ul {
  list-style-type: none;
  padding: 0;
}

.message-container li {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.add-message-container {
  border-top: 8px solid #9D0000;
  padding: 10px 0;
}
